build page:
  image: node:8.1.3
  stage: build
  script:
  - npm i --progress=false
  - npm run build
  artifacts:
    paths:
    - dist
  only:
  - master

pages:
  stage: deploy
  script:
  - mkdir .public
  - cp -r dist/* .public
  - mv .public public
  artifacts:
    paths:
    - public
  only:
  - master
